<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" charset="utf-8">
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </table>
</body>
