<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <style type="text/css" media="screen">
    p {
      padding: 10px;
      background-color: #DDD;
    }
  </style>
</head>
<body>
  <p><%= Time.now %></p>
</body>
