<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <style type="text/css" media="screen">
    p {
      padding: 10px;
      background-color: #DDD;
    }
  </style>
</head>
<body>
  <p><%= Time.now %></p>

  <form action="/search" method="post">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>

  You searched for <b><%= @cookie %></b>.
</body>
